name: docker-build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  image-sync:
    runs-on: ubuntu-latest
    steps:
    - name: sync image
      uses: sanbei101/image-sync-action@v1
      with:
        registry: swr.cn-north-4.myhuaweicloud.com
        namespace: sanbei
        username: ${{ secrets.HUAWEI_SWR_USERNAME }}
        password: ${{ secrets.HUAWEI_SWR_TOKEN }}
        images: |
          postgres:18-alpine
          caddy:alpine
       
  docker-build:
    needs: image-sync
    runs-on: ubuntu-latest

    steps:
    - name: Login to HUAWEI Container Registry
      uses: docker/login-action@v3
      with:
        registry: swr.cn-north-4.myhuaweicloud.com
        username: ${{ secrets.HUAWEI_SWR_USERNAME }}
        password: ${{ secrets.HUAWEI_SWR_TOKEN }}

    # 这个工具是高级版本的docker构建工具,可以利用缓存
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 构建并推送 Docker 镜像
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: |
          swr.cn-north-4.myhuaweicloud.com/sanbei/cau-ai-backend:latest
          swr.cn-north-4.myhuaweicloud.com/sanbei/cau-ai-backend:${{ github.sha }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
        provenance: false
